.chips {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: rgba(#000, 0.6);
  border: none;
  background: #fff;
  padding: 0.3rem 1rem;
  border-radius: 120px;
  font-weight: 600;
  font-size: 0.8rem;
  transition: all 0.2s;
  line-height: normal;
  color: #2f2f2f;
  border: 1px solid #c3c3c3;
  &:not(:last-child) {
    margin-right: 0.4rem;
  }

  &:hover,
  &:focus {
    background: rgba(#002fff, 0.16);
    outline: none;
  }
}
