.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  position: relative;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
  &:hover {
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.2);

    .project-card__status {
      opacity: 1;
      transform: translateY(0px);
    }
    .project-card__open-site {
      opacity: 1;
    }
  }

  &__image:hover {
    &:before {
      background: rgba(#000, 0.4);
    }
  }

  &__image {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: rgba(#000, 0);
      height: 100%;
      transition: all 0.2s;
      width: 100%;
    }

    img {
      transition: all 0.2s;
      width: 100%;
    }
  }

  &__open-site {
    position: absolute;
    top: -50px;
    right: 10px;
    border: 1px solid rgba(#fff, 0.6);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s;

    svg {
      fill: #fff;
      height: 14px;
    }
  }

  &__content {
    position: relative;
    padding: 1rem 1.4rem;
  }

  &__status {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 120px;
    transition: all 0.2s;
    transform: translateY(-4px);
    &--running {
      color: #1355fc;
    }
    &--completed {
      color: #0a9500;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    color: #141414;
    margin-bottom: 0.6rem;
  }
  &__date {
    margin-bottom: 1rem;
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(116, 116, 116);
  }

  &__description {
    margin: 0.4rem 0rem;

    p {
      color: #3a3a3a;
      font-size: 0.8rem;
      line-height: 1.4;
      font-weight: 400;
    }
    a {
      font-size: 0.8rem;
      color: #1355fc;
      font-weight: 600;
    }
  }

  &__contributors {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    h6 {
      font-size: 0.8rem;
      font-weight: 700;
      margin-bottom: 0;
      margin-left: 0.6rem;
      color: rgb(122, 122, 122);
    }
    &__avtars {
      display: flex;
    }
  }

  &__contributor {
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    width: 30px;
    background: white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    &:not(:last-child) {
      margin-right: 0.2rem;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }

  &__technologies {
    margin-bottom: 1.4rem;
  }
}
